body {
    margin: 0;
    background: #745E5E;
}

h2 {
    color: white;
}

input[type="text"] {
  border: none;
  background: none;
  border-bottom: 1px solid white;
  width: 40%;
  padding: 5px 0;
  margin: 20px auto;
  display: block;
  width: 100%;
  outline: none;
  color: white;
}

input[type="text"]::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

button {
  color: #745E5E;
  border-radius: 0;
  border: none;
  padding: 5px 15px;
  margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.stage {
    font-family: Roboto;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

.left-container {
    height: 100%;
    width: 50%;
    background: #745E5E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-image {
    width: 50%;
    height: 100%;
}
.right-image > img {
    height: 100%;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button-group > button {
    width: 30%;
    padding: 5px 0;
    background: none;
    border: 1px solid white;
    color: white;
  }

@media only screen and (max-width: 600px) {
    .right-image {
        display: none;
    }
    .left-container {
        width: 100%;
    }
}